{% extends "base.html" %}
{% block content %}
<p class="fs-1" align="center">Дом Баратеонов</p>
<table class="table-warning">
<tr><th>Станнис Баратеон</th><th>Ренли Баратеон</th><th>Сер Давос Сиворт</th><th>Бриенна из Тарта</th><th>Салладор Саан</th><th>Мелисандра</th><th>Пестряк</th></tr>
<tr><td><img src='static/barateons/stannis.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/barateons/renly.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/barateons/davos.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/barateons/brienna.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/barateons/sallador.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/barateons/melisandra.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/barateons/pestryak.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td></tr>
<tr>
    <td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td></tr>
</table>




<p class="fs-1" align="center">Дом Ланнестеров</p>
<table class="table-warning">
<tr><th>Тайвин Ланнестер</th><th>Сер Грегор Клиган</th><th>Сер Джейме Ланнистер</th><th>Пес</th><th>Сер Киван Ланнистер</th><th>Тирион Ланнистер</th><th>Серсея Ланнистер</th></tr>
<tr><td><img src='static/lannesters/taywin.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/lannesters/gregor.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/lannesters/jame.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/lannesters/pyos.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/lannesters/kivan.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/lannesters/tirion.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/lannesters/serseya.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td></tr>
<tr>
    <td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td></tr>
</table>


<p class="fs-1" align="center">Дом Старков</p>
<table class="table-warning">
<tr><th>Эддард Старк</th><th>Робб Старк</th><th>Русе Болтон</th><th>Большой Джон Амбер</th><th>Бринден Черная Рыба</th><th>Сер Родрик Кассель</th><th>Кейтлин Старк</th></tr>
<tr><td><img src='static/starks/addard.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/starks/robb.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/starks/ruse.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/starks/john.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/starks/brinden.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/starks/rodrik.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/starks/katelin.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td></tr>
<tr>
    <td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td></tr>
</table>



<p class="fs-1" align="center">Дом Грейджоев</p>
<table class="table-warning">
<tr><th>Эурон Вороний Глаз</th><th>Виктарион Грейджой</th><th>Бейлон Грейджой</th><th>Теон Грейджой</th><th>Аша Грейджой</th><th>Дагмер Щербатый</th><th>Эйерон Мокроголовый</th></tr>
<tr><td><img src='static/grayjoys/ayron.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/grayjoys/victarion.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/grayjoys/baylon.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/grayjoys/teon.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/grayjoys/asha.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/grayjoys/dagmer.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/grayjoys/mokrogoloviy.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td></tr>
<tr>
    <td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td></tr>
</table>



<p class="fs-1" align="center">Дом Тиреллов</p>
<table class="table-warning">
    <tr><th>Мейс Тирелл</th><th>Сер Лорас Тирелл</th><th>Сер Гарлан Тирелл</th><th>Рэндилл Тарли</th><th>Алистер Флорент</th><th>Маргери Тирелл</th><th>Королева Шипов</th></tr>
<tr><td><img src='static/tirells/mays.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/tirells/loras.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/tirells/garlan.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/tirells/randill.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/tirells/alister.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/tirells/margeri.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/tirells/queen.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td></tr>
<tr>
    <td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td></tr>
</table>



<p class="fs-1" align="center">Дом Мартеллов</p>
<table class="table-warning">
    <tr><th>Оберин Красная Гадюка</th><th>Арео Хота</th><th>Обара Сэнд</th><th>Герольд Темная Звезда</th><th>Нимерия Сэнд</th><th>Арианна Мартелл</th><th>Доран Мартелл</th></tr>
<tr><td><img src='static/martells/red.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/martells/areo.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/martells/obara.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/martells/gerold.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/martells/nimeria.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/martells/arianna.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td>
    <td><img src='static/martells/doran.jpg' class="img-thumbnail" alt="No photo" width="306" height="350"/></td></tr>
<tr>
    <td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td>
<td><div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">В руке</label>
</div></td></tr>
</table>
{% endblock %}